/* Move down content because we have a fixed navbar that is 50px tall */
body {
  /*padding-bottom: 20px;*/
  font-family:Open Sans, Helvetica, sans-serif; /*'Source Sans Pro',sans-serif !important*/
  font-size:16px;
}
ul{list-style-type:none; margin:0; padding:0;}
ol{margin:15px 0 25px}
	.page ul li{margin:8px 18px; border-bottom:solid 1px #DBDFE3; padding:0 0 10px;}
	ol li{margin:8px 0}
h1{color:#001e37; font-size:36px; background:url(../images/icon_arrow.png) left no-repeat; padding-left:54px;}
h2{color:#F86A28; font-size:30px}
h3{color:#003566; font-size:22px;}
h4{color:#F86A28; font-size:18px;}
	h1 a, h1 a:hover, h1 a:focus{color:#001e37; text-decoration:none}
.calendar_home hr{border-top:1px solid #D5D8DA; clear:both}
.last{border:none !important;}
.no-padding{padding:0 !important}
.no-border{border:none !important}
.fleft{float:left}
.fright, .navbar-nav>li.fright{float:right}
.bg-grey{background-color:#f5f5f5}
.bg-white{background-color:#ffffff}
img{max-width:100%; height:auto}
img.fleft{float:left; padding:0 15px 15px 0; /*margin-top:12px;*/}
img.fright{float:right; padding:0 0 15px 15px; margin-top:12px;}
	img.news-home{margin-top:24px;}
	img.news{width:30%; float:left; padding:0 25px 25px 0; margin-top:24px; min-height:210px}
		.col-md-8 img.news{width:42%}
		.forum img.news{width:16%; height:auto; min-height:inherit}
	img.staff{width:34%; padding-bottom:30px; margin-top:12px;}
span.date{color:#00adde; margin-bottom:5px; display: block;}
.goo_map{width:90%; height:294px; border:0}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	margin-left:0;
	background:url(../images/CARE_logo.png) no-repeat left;
	text-indent:-5000px;
	width:325px; 
	height:155px;
	margin:12px 0;
}
.nav{width:100%}
#navbar{padding:0;}
nav.navbar{margin:0; border-bottom:7px solid #f86a28;}
.navbar-inverse{background:none; border:none;}
.bg_dark_blue{background-color:#001e38;}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
	background-color:#002446;
}
.navbar-inverse .navbar-nav>li>a {
	font-size:18px;
	color:#e0e0e0;
	border-right:solid 1px #365167;
	padding-left:22px;
	padding-right:22px;
}
	.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{borders-color:#365167}
.second-nav{display:block; margin:58px 0 0; clear:both; float:right}
	.second-nav ul li{float:left; display:inline-block}
	.second-nav ul li a{color:#1f1d1e; margin:0 4px 0 0; padding:0 8px; border-right:solid 1px #222; font-size:15px}
.navbar-inverse .navbar-toggle{border-color:#333; background-color:#003567}
.navbar-form{margin-top:0;}
.navbar-form .btn{
	border-radius:8px;
	padding:14px 20px;
	top:25px;
    position:relative;
	font-size:16px;
	background-color:#1e4669
}
.btn{
	background-color:#ec3b11;
	border:none;
	color:#ffffff;
	padding:10px 20px;
	border-radius:0;
	/*border-radius:6px;*/
}
.btn:hover, .btn:focus, .btn:active{background-color:#FF7330; color:#ffffff;}
.btn-default.active.focus,.btn-default.active:focus,.btn-default.active:hover,.btn-default:active.focus,.btn-default:active:focus,.btn-default:active:hover,.open>.dropdown-toggle.btn-default.focus,.open>.dropdown-toggle.btn-default:focus,.open>.dropdown-toggle.btn-default:hover{background-color:#1ea3c8; color:#ffffff; border-color:#8c8c8c}
.btn-group-lg{padding:16px 32px; font-size:16px}
/*
.btn-success:hover{color:#fff;background-color:#449d44;border-color:#398439}
.btn-success.active,.btn-success:active,.open>.dropdown-toggle.btn-success{color:#fff;background-color:#449d44;border-color:#398439}
.btn-success.active.focus,.btn-success.active:focus,.btn-success.active:hover,.btn-success:active.focus,.btn-success:active:focus,.btn-success:active:hover,.open>.dropdown-toggle.btn-success.focus,.open>.dropdown-toggle.btn-success:focus,.open>.dropdown-toggle.btn-success:hover{color:#fff;background-color:#398439;border-color:#255625}
*/
.login-bar{
	background:#1e4669 url(../images/icon_login.png) left no-repeat;
	background-position:8px 8px;
	width:216px;
	height:54px; 
	margin-right:4px; 
	margin-top:34px; 
	padding:14px 14px 14px 46px; 
	border-radius:8px;
	float:right;
}
	.login-bar a{margin:0 6px; color:#ffffff; font-size:16px; font-weight:bold}
	.login-bar a.login{border-right:solid 1px #6d91b1; padding-right:16px}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>li>a, .btn{
	-webkit-transition:all ease .4s;
	-o-transition:all ease .4s;
	transition:all ease .4s;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{background-color:#002446}
.dropdown-menu{background-color:#002446; border:none;}
	.dropdown-menu>li>a{color:#ffffff; padding:8px 20px}
	.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{color:#002446; background-color:#f5f5f5;}

.jumbotron img{width:100%; height:auto;}
.caption{position:absolute; bottom:0; background-color:rgba(255,255,255,.75); width:100%; height:70px}
	.caption h1{color:#001e38; background:url(../images/icon_arrow.png) left no-repeat; font-size:30px; float:left; padding:5px 0 5px 50px; margin:14px 0 0 20px;}
	.caption h1 a{color:#001e38; text-decoration:none}
	.caption p{font-size:16px; color:#ffffff}
	.caption a.btn {margin:16px 40px 16px 0}
.featured-two{}
	.featured-two li{margin-bottom:14px}
	.btn-register{background:#f26c25 url(../images/btn_register.png) center no-repeat; display:inline-block; width:100%; height:68px; margin:0; padding:0}
.featured-three{background-color:#1a344b; color:#ffffff; border-right:solid 1px #2e495c; display:inline-block; margin:16px 0 16px; padding:30px 40px}
	.featured-three a{color:#ffffff; text-decoration:none}
	.featured-three h2{color:#9ebddc; font-size:22px; font-weight:bold}
	.featured-three p{font-size:16px}
	.featured-three img{float:left; margin-right:16px}
.home-list{background:#f5f5f5; padding:20px 10px}
	.home-list h3, .home-list h3 a{font-size:20px; color:#003566; text-decoration:none}
	.home-list .btn{margin-top:10px}
.module-list{background:#f5f5f5; padding:10px 36px}
	.module-list ul.mod{list-style:square; margin:8px 18px}
	.module-list ul.mod li{border:none; margin:0 18px}
.module-leftNav{background:#ffffff; margin:0; padding:0}
	.module-leftNav ul{margin:0; padding:0}
	.module-leftNav ul li{margin:0; padding:10px 14px}
	.module-leftNav li img{width:44%; min-height:90px; float:left; margin:0 16px 16px 0; padding:0; border:#ffffff solid 2px}
	.module-leftNav li h3{color:#F86A28; font-size:20px}
	.module-leftNav li a{display:block; height:100px; font-size:13px; color:#333; text-decoration:none}
	.module-leftNav li.active{background:#f5f5f5}
	.module-leftNav li.active img{border:#F86A28 solid 2px}
.modules-home h3 a{color:#003566;}
.video-home{background-color:#f5f5f5;}
	.video-home img{padding-left:10px; margin-bottom:4px}
	.video-home h3 a{color:#003566; margin:0px 0 0 14px; padding-left:0; padding-bottom:35px; display:inline-block;}
.vids{padding:0px 36px}
	.vids h4 a{color:#F86A28; text-decoration:none}
.video-embed{max-width:100%; width:708px; height:398px}
	a.pdf{margin-top:36px; font-size:14px; display:block}
	a.browse{margin:8px 10px 0 0; width:300px;}
	img.img-strip{border-bottom:solid 36px #012442; margin-top:22px;}
	img.full-img{width:100%; height:auto}
	img.img-content{width:360px}
	img.video-thumb{width:200px; height:auto; float:left; padding:0 25px 25px 0; margin-top:12px}
.leftNav{margin-right:20px; background-color:#f5f5f5}
	.leftNav ul li{padding:8px 6px}
	.leftNav ul li a{color:#3B3B3B; font-size:14px; font-weight:bold}
	.leftNav ul li a:hover, .leftNav ul li a:focus{color:#F86A28}
.add-comment{clear:both; margin-left:18%; margin-right:5%}
	.add-comment h4{color:#F86A28}
.page{margin-top:40px; min-height:400px}
/*.col-md-8 img{padding:0 24px 24px 0;}*/

.navbar-inverse .navbar-nav>li>a.lang{font-family:Tahoma, Geneva, sans-serif; font-size:14px; font-weight:bold; color:#ffffff; background-color:#007C9F; margin-top:10px; padding:10px 20px 14px; border-radius:3px}

.page ul.gallery{display:inline-block}
	.page ul.gallery li{float:left; width:33.33333333%; margin:0; padding:10px; border:none;}
.contacts{font-size:18px; line-height:25px}

footer{background-color:#575c62; color:#a9aeb2; font-size:14px; padding-top:40px; margin-top:25px;}
	footer h3{color:#e1e1e2; margin-top:5px;}
	footer a{color:#a9aeb2}
	footer a:hover, footer a:focus{color:#f5f5f5}
	footer ul{margin-bottom:20px;}
	footer ul li{padding:6px 0; border-bottom:#6c6c6c solid 1px}
	.quality_stamp img{margin-top:10px}
	footer .copyrights{padding-top:14px; padding-bottom:12px; margin-top:6px; font-size:13px; border-top:solid 1px #6c6c6c;}
	footer .copyrights ul li{border:none; border-right:#6c6c6c solid 1px; padding:0 8px}
		footer .copyrights ul li a:hover, footer .copyrights ul li a:focus{color:#ffffff}

.margin-top-xlarge{margin-top:60px;}
.margin-top-large{margin-top:40px;}
.margin-top-medium{margin-top:20px;}
.margin-top-small{margin-top:8px;}
.margin-bottom-xlarge{margin-bottom:60px;}
.margin-bottom-large{margin-bottom:40px;}
.margin-bottom-medium{margin-bottom:20px;}
.margin-bottom-small{margin-bottom:8px;}

/*** FORMS ***/
.form-control {
    display: block;
    width: 100%;
    height: 40px;
    line-height:40px;
	padding: 12px 12px;
	border-radius:0;
}
.upload-imgae {
    width:150px;
    height:150px;
    margin:0 2% 5%;
    float:left;
    background:url(../images/no-image-profile.png) left top no-repeat;
	background-size:150px 150px;
}
legend{color:#F59209; background:#ffffff; padding:10px 16px;}
	.contact-form ul li{border-bottom:#DEDEDE solid 2px; padding:20px 0 10px}
	.contact-form ul li div{display:block}
	.contact-form ul li label, .contact-form ul li .radio{display:inline-block}
	.contact-form ul li label{font-size:16px; font-weight:normal}
.profile-image-submit{padding-left:25px}
.table-bordered{background:#f5f5f5}
.feedback-des{font-size:15px; color:grey; margin:34px 24px}
.clear-both{clear:both}
.table{margin-bottom:10px;}
.td-small{width:120px}
.td-right{padding-left:20px;}
p.post-date{color:grey; font-size:13px}

/*** TABLES ***/
.table{border-bottom:solid 4px #002446;}
.table>thead>tr>th {
	vertical-align:middle;
	border-bottom:2px solid #ddd;
	background-color:#002446;
	color:#f5f5f5;
	border-right:#424242 solid 1px !important;
	padding:10px 8px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	font-size:15px;
	border-right:#d6d6d6 solid 1px;
}
.table-striped>tbody>tr:nth-of-type(odd){background-color:#E6ECEC;}

@media (max-width: 1366px) {
	.calendar_home{padding:10px 24px}
	.calendar_home li .cal_date{width:18%}
	.calendar_home li .cal_info{width:76%}
}
@media (max-width: 1024px) {
	.calendar_home img.admission, img.admission{width:100%; height:auto}
	.caption h1{font-size:26px}
	.caption a.btn{display:none}
	.btn-register{background-size:300px auto;}
}
@media (max-width: 992px) {
	.navbar-inverse .navbar-nav>li>a{font-size:13px}
	.nav>li>a{padding-left:11px; padding-right:11px;}
	.jumbotron h1{font-size:28px}
	.calendar_home img{width:150px; height:auto;}
}
@media (max-width: 768px){
	.col-md-6{clear:both}
	img.staff{width:20%; margin:0}
	.btn-register{background-size:auto;}
}
@media (max-width: 767px){
	.jumbotron img{float:none; width:100%; height:auto}
	.goo_map{width:100%; height:265px;}
	.about_img{width:100%; height:auto}
	img.news{width:38%; height:auto; margin-top:5px}
	#navbar{padding-right:15px; padding-left:15px;}
	.navbar-form .btn{border-radius:6px; position:absolute; right:14px; top:55px;}
	.navbar-form{padding:0; border:none;}
	.navbar-inverse .navbar-nav>li>a{font-size:15px}
	.login-bar{padding:14px 14px 14px 46px; margin-left:2px;}
}
@media (max-width: 640px){
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {width:280px; background-size:280px auto;}
	.navbar-nav>li.fright{float:left; margin:0 10px}
}
@media (min-width: 768px){
	.navbar{border-radius:0;}
	.navbar-nav>li>a {
		padding-top:25px;
		padding-bottom:25px;
	}
}